<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Node Form</title>
  </head>
  <body>
      <div class="w3-panel w3-flat-wet-asphalt">
        <h1>Please fill out the Form Below</h1>
      </div>
    <div class="w3-container w3-teal">
    <form method="post" action="/results">
      <input type="text" name="name" placeholder="Your Name"/>
      <br>
      <input type="email" name="email" placeholder="Your Email"/>
      <br>
      <input type="text" name="birth" placeholder="Your Year of Birth"/>
      <br>
       <input type="submit" value="Send!">
    </form>
  </div>

  {{#errors}}
  {{msg}}
  <br>
  {{/errors}}
  </body>
</html>
